<link rel="stylesheet" href="style.css">
<script src="script.js"></script>

<body>
    <h1>Get inspired!</h1>
    <p id="paragraph_text">
        Let yourself be inspired by beautiful pictures. Try typing "<b id="orange">orange</b>".<br />
        Maybe you will get a literal orange, or a scenary inspired by the colour.
    </p>
    <div id="picture_area"></div>
    <p><div id="credit_author"></div></p>
    <p><input type="text" id="user_input"></p>
    <button id="generate" onclick="handleRequest()">Generate Pic</button>
    <p><a href='https://www.freepik.com/vectors/background' id="background_credit">Background vector created by rawpixel.com - www.freepik.com</a>
</body>